@tailwind base;
@tailwind components;
@tailwind utilities;

.board {
  width: 600px;
  height: 600px;
}

.board-field > i {
  transform: scale(1);
  animation: zoomin 0.5s;
}

@keyframes zoomin {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
